@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fadeIn {
  -webkit-animation: fadein .25s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .25s; /* Firefox < 16 */
  -ms-animation: fadein .25s; /* Internet Explorer */
  -o-animation: fadein .25s; /* Opera < 12.1 */
  animation: fadein .25s;
}

body {
  margin: 0;
  padding: 0;
  background: url('/bg.png');
  background: #fdfdfd;
  background-size: cover;
  background-attachment: fixed;
  font-family: Playfair Display, serif;
  -webkit-font-smoothing: antialiased;
}

.menu,
.saved,
.article,
.about {
  margin: 10px auto;
  width: 30%;
  min-width: 300px;
}

.about {
  font-size: 1.3em;
}

.about a {
  color: rgba(0,0,0,.8);
}

h1, h2 , h3 {
  font-family: Playfair Display Bold, serif;
  font-weight: 800;
  color: rgba(0,0,0,.65);
  font-size: 3em;
}

.menuItem {
  display: block;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
  margin: 15px auto;
  padding: 10px 0;
  background: #fff;
  color: rgba(0,0,0,.8);
  background: #fff;
  border-radius:10px;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.05);
}

.quill, .articleContent {
  width: 50%;
  padding: 10px;
  background: #fff;
  margin: 10px auto;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .07);
  min-height: 900px;
}

.ql-editor, .articleContent {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  color: rgba(0,0,0,.85);
  opacity: 1;
  font-size: 1.7em;
  font-family: Playfair Display, serif;
}

.article {
  width: 50%;
  margin-bottom: 100px;
}

.articleContent {
  padding: 35px;
  margin-top: 50px;
  height: auto;
  min-height: 0;
  font-size: 1.2em;
  width: 100%;
}

.articleTitle {
  font-size:2em;
  text-align: center;
  margin-bottom:0;
  position: relative;
  top: 25px;
}

.ql-editor.disappearing {
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  opacity: 0;
}

.ql-editor b, .articleContent b {
  font-family: Playfair Display Bold, serif;
  font-weight: 800;
}

.reactQuill {
  margin-top: 35px;
}

.back {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  display:block;
  position:fixed;
  top:30px;
  left: 30px;
  font-size:1.2em;
  color:inherit;
  text-decoration: none;
  background:#fff;
  padding:10px 30px;
  box-shadow:1px 1px 3px 1px rgba(0,0,0,.03);
  z-index: 999;
}

.back:hover {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  padding-left: 60px;
  left: 15px;
  margin-left: -15px;
  width: calc(auto + 15px);;
}

.timer {
  position: fixed;
  right: 30px;
  top: 0px;
}

.extLink {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  font-size: 1.6em !important;
  display: inline-block;
  margin: 10px 20px 10px 0;
  color: rgba(0,0,0,0.3) !important;
  text-decoration: none;
}

.extLink:hover {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  color: rgba(0,0,0,.8) !important;
}

.savedWritingItem a {
  display: block;
  font-size: 1.2em;
  margin: 20px -5px;
  padding: 7px;
  padding-left: 12px;
  border-left: 5px solid;
  background: #fff;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.03);
  color: rgba(0,0,0,.8) !important;
  text-decoration: none;
}

.savedWritingItem a:hover {
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  border-left: 0px solid;
}

.search {
  margin-top:-30px;
}

.search:before {
  content: " ";
  background: url('/search-alpha.png');
  width: 25px;
  height: 25px;
  background-size: cover;
  position: relative;
  top: 35px;
  display: block;
  right: -10px;
  font-family: serif;
}

.search input {
  -webkit-appearance: none;
  border: none;
  padding: 10px;
  padding-left:45px;
  width: calc(100% - 50px);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,.05);
  font-family: inherit;
  font-size: 1.2em;
}

.search input:focus {
  outline: none;
}

.dropzone {
  display: inline-block;
}

.filesize.extLink {
  font-size: 1em !important;
  position: fixed;
  bottom: 10px;
  left: 20px;
}

@media(max-width: 400px) {
  .back, .timer {
    display: none;
  }
  .quill {
    width: 90%;
  }

  .articleContent {
    width: 70%;
    font-size: 1em;
  }
}
